%table.table.table-striped.small
  %thead
    %tr
      %th #
      %th= t('.name')
      %th= t('.cpf')
      %th= t('.birthdate')
      %th= t('.net_salary')
      %th= t('.salary')
      %th= t('.social_security_discount')
      %th= t('.address')
      %th= t('.personal_phone')
      %th= t('.reference_phone')
      %th{ style: "width: 11%" }
  %tbody
    - @employees.each do |employee|
      %tr
        %td= employee.id
        %td= employee.name
        %td= employee.cpf
        %td= employee.birthdate.to_fs
        %td= employee.net_salary.format
        %td= employee.salary.format
        %td= employee.social_security_discount.format
        %td= employee.address
        %td= employee.personal_phone
        %td= employee.reference_phone
        %td
          = link_to t('.update'),
            edit_employee_path(employee),
            class: 'btn btn-sm btn-primary'

          = link_to t('.delete'),
            employee_path(employee),
            data: { turbo_method: :delete, turbo_confirm: t('.confirm') },
            class: 'btn btn-sm btn-primary'

= paginate @employees
